.el-message {
  z-index: 99999 !important;
}
.el-message-box__wrapper {
  z-index: 99999 !important;
}
.el-loading-mask {
  z-index: 99998 !important;
}
.el-table {
  .el-loading-mask {
    z-index: 20 !important;
  }
}
/* 禁用默认的下拉刷新和边界效果,但是依然可以进行滑动导航 */
body {
  overscroll-behavior-y: none;
}
// 修正dialog样式
.el-dialog {
  border-radius: 15px !important;
  .el-dialog__header {
    text-align: center;
  }
  .el-dialog__footer {
    padding-top: 0;
  }
  .el-dialog__body {
    padding-bottom: 25px;
  }
  .dialog-footer {
    text-align: center;
    .el-button {
      min-width: 140px;
      min-height: 40px;
      &+.el-button{
        margin-left: 65px !important;
      }
    }
  }
}
.el-dropdown-menu {
  z-index: 99999 !important;
}
// 全局修正按钮颜色（中号按钮）
.el-button--primary {
  color: #FFFFFF;
  background-color: #3774B3;
  border-color: #3774B3;
  &:hover,&:focus {
    background: #5081B3;
    border-color: #5081B3;
    color: #FFFFFF;
  }
}
.el-button--default {
  color: #5081B3;
  border-color: #5081B3;
  background-color: #fff;
  &:hover,&:focus {
    color: #5081B3;
    border-color: #5081B3;
    background-color: #fff;
  }
}
.el-button--success {
  background-color: #14C193;
}
.el-button--mini {
  width: 78px !important;
}
// 修正菜单样式
.sidebar-container {
  background-color: #242F42 !important;
  * {
    background-color: #242F42 !important;
  }
  .logo-text {
    text-align: center;
    font-size: 23px;
    color: #fff;
    font-family: "微软雅黑";
    margin-top: 15px;
    margin-bottom: 25px;
    letter-spacing: 2px;
  }
}
// 修正tagview样式
.tags-view-container {
  height: 36px !important;
  background-color: #2E3E52 !important;
  * {
    color: #fff;
  }
  .el-scrollbar__wrap {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  .scroll-container {
    height: 36px !important;
  }
  .el-scrollbar__view {
    height: 36px !important;
    .tags-view-item {
      border: 0 !important;
      margin: 0 !important;
      padding: 6px 8px !important;
      height: 36px !important;
      color: #fff !important;
      background-color: #2E3E52 !important;
      .el-icon-close {
        vertical-align: middle;
        font-size: 25px;
        color: inherit !important;
        display: inline !important;
        &:before {
          vertical-align: middle !important;
        }
      }
    }
    .router-link-exact-active {
      background-color: #fff !important;
      color: #2E3E52 !important;
      * {
        color: #2E3E52 !important;
      }
    }
  }
  .el-scrollbar__bar {
    height: 0 !important;
  }
}
// 修正顶部导航样式
.navbar {
  background-color: #242F42 !important;
  * {
    color: #fff !important;
  }
}
// 侧边菜单与顶部菜单折叠
.float-collapse {
  z-index: 20;
  position: fixed;
  width: 0px;
  height: 70px;
  top: 50%;
  cursor: pointer;
  border-left: 1px solid #242F42 !important;
  border-image: -webkit-linear-gradient(#242F42, #999, #242F42) 0 30;
  border-image: -moz-linear-gradient(#242F42, #999, #242F42) 0 30;
  border-image: linear-gradient(#242F42, #999, #242F42) 0 30;
  .top {
    background-color: #fff !important;
    border-left: 10px solid #242F42 !important;
    border-top: 12px solid transparent;
  }
  .bottom {
    background-color: #fff !important;
    border-left: 10px solid #242F42 !important;
    border-bottom: 12px solid transparent;
  }
  .center {
    color: #fff !important;
    width: 10px;
    height: 46px;
    line-height: 46px;
    background-color: #242F42 !important;
    font-size: 10px;
    padding-left: 2px;
    .svg-inline--fa {
      vertical-align: middle;
    }
  }
}
.float-collapse-top {
  z-index: 20;
  position: fixed;
  width: 71px;
  height: 10px;
  left: 50%;
  cursor: pointer;
  vertical-align: baseline;
  .right {
    display: inline-block;
    vertical-align: top;
    border-top: 11px solid #242F42 !important;
    border-right: 12px solid transparent;
    margin-bottom: 0.5px;
  }
  .left {
    display: inline-block;
    vertical-align: top;
    border-top: 11px solid #242F42 !important;
    border-left: 12px solid transparent;
    margin-bottom: 0.5px;
  }
  .center {
    display: inline-block;
    vertical-align: top;
    color: #fff !important;
    width: 46px;
    height: 11px;
    background-color: #242F42 !important;
    font-size: 10px;
    text-align: center;
  }
}
// 全局修正表格样式
.el-table th.is-leaf, .el-table td {
  border-bottom: 0 !important;
}
.el-table__header {
  th {
    background-color: #FAFAFA !important;
    border-top: 1px solid #E8E8E8 !important;
    color: #000 !important;
  }
}
